* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
} /* remove default values */


.header {
    background-color: #1f2937;
    padding: 16px;
    color: #fff;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
}

.hero-main-title {
    font-size: 48px;
    font-weight: 800;
    line-height: 40pt;
}

.hero-secondary-text {
    font-size: 18px;
    margin-bottom: 12px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    color: inherit;
}

button.sign-up {
    background: #3882f6;
    padding: 6px 36px;
    border-radius: 5px;
    border: none;
    font-weight: 800;
    font-size: 18px;
    color: inherit;
}

.hero {
    display: flex;
    gap: 12px;
    margin: 100px auto;
}

.hero > * { flex: 1; } /*make equal columns*/

img {
    width: 100%;
}

.information {
    margin: 50px 0px 100px;
}

.info-title {
    color: #1f2937;
    font-size: 38px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.animals {
    display: flex;
    gap: 50px;
    max-width: 850px;
    width: 100%;
    margin: auto;
}

.animals img {
    border-radius: 20px;
}

.description {
    text-align: center;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 100px 100px;
    display: flex;
    flex-direction: column;
}

.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    margin: 0px 150px;
    line-height: 35pt;
}

.quote-author {
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    margin: 0px 150px;
}
